JACKYUN_APP_KEY="92058521"
JACKYUN_APP_SECRET=""
JACKYUN_WAREHOUSE_CODE="CK031"
DINGTALK_CLIENT_ID=""
DINGTALK_CLIENT_SECRET=""
DINGTALK_ROBOT_CODE=""
DINGTALK_OPEN_CONVERSATION_ID=""
INVENTORY_CRON_SECRET=""
